@model MVC_WEB_Page.Models.MsgModelCreate


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#Messages").addClass("active");
        
    });
   
</script>
   
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<div class="row baseMainRow">

    <div class="col-md-3 leftBlock">
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="btn-group-vertical userUnderImageMenu">
            <button onclick="location.href='/Inbox'" type="button" class="btn btn-default baseBtn "><span class="glyphicon glyphicon-envelope"></span> Inbox</button>
            <button onclick="location.href='/Outbox'" type="button" class="btn btn-default baseBtn"><span class="glyphicon glyphicon-new-window"></span>Outbox</button>
            <button onclick="location.href ='/SendMessage'" type="button" class="btn btn-default baseBtn active"><span class="glyphicon glyphicon-pencil"></span>Send Message</button>
        </div>
    </div><!-- first column end-->
    <div class="col-md-9 centralBlock">
        <hr class="hrCentralBlock" />
         @using (Html.BeginForm())
         {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             <div class="row sendMessageRow">           
                <div class="form-group">
                <div class="col-md-3 ">
                @Html.LabelFor(model => model.messages.IdReceiver, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-9">
                @Html.EditorFor(model => model.messages.IdReceiver, new { htmlAttributes = new { @class = "form-control autocomplete textboSend", @onchange = "check ()" } })
                @Html.ValidationMessageFor(model => model.messages.IdReceiver, "", new { @class = "text-danger" })
                    <span id="divStatus" />
                </div>
                </div>
             </div>
             <div class="row sendMessageRow">   
            <div class="form-group">
                <div class="col-md-3">
                @Html.LabelFor(model => model.messages.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-9"> 
                @Html.EditorFor(model => model.messages.Title, new { htmlAttributes = new { @class = "form-control textboSend" } })
                @Html.ValidationMessageFor(model => model.messages.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
            <div class="row sendMessageRow">   
            <div class="form-group">
                <div class="col-md-3">
                @Html.LabelFor(model => model.messages.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-9">
                @Html.TextAreaFor(m => m.messages.Content, new { @class = "form-control textboSend" })
                @Html.ValidationMessageFor(model => model.messages.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>

            <div class="row sendMessageRow">   
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Send" id="submitBtn" class="btn btn-default submitSendMessage" />
                 </div>
                </div>
            </div>

         }
             
    </div><!-- second column end-->

   
       

   

</div><!--Row end-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var availableTags = [
        "support - (support@nova.com)"
       @foreach (string x in Model.users) {@Html.Raw(","); @Html.Raw('"'+x+'"'); }
    ];
    $(".autocomplete").autocomplete({
        source: availableTags,
        change: function (event, ui) {
        if (ui.item) {
            check();
        } else {
            /* user entered a new item */
        }
    }
    });

</script>
<script type="text/javascript">
   function check () {
            var name = $(".autocomplete").val(); //Value entered in the text box
            var status = $("#divStatus"); //DIV object to display the status message
            status.html("Checking....") //While our Thread works, we will show some message to indicate the progress

            //jQuery AJAX Post request
            
                $.post("/MsgValidReceiver/CheckName", { username: name },
                    function (data) {
                        if (data == 0) {
                            status.html(name + " is available!");
                            document.getElementById("submitBtn").disabled = false;
                        } else {
                            status.html(name + " is not available!");
                            document.getElementById("submitBtn").disabled = true;
                        }

                    });
          
        };
  
</script>
