@model MVC_WEB_Page.Models.MsgModelCreate


@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#Messages").addClass("active");
    });
</script>

<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<div class="row baseMainRow">
   
       <div class="col-md-3 leftBlock">
           <h2>@ViewBag.Title</h2>
           <hr />
           <div class="btn-group-vertical userUnderImageMenu">
               <button onclick="location.href='/Inbox'" type="button" class="btn btn-default baseBtn "><span class="glyphicon glyphicon-envelope"></span> Inbox</button>
               <button onclick="location.href='/Outbox'" type="button" class="btn btn-default baseBtn"><span class="glyphicon glyphicon-new-window"></span>Outbox</button>
               <button onclick="location.href ='/SendMessage'" type="button" class="btn btn-default baseBtn active"><span class="glyphicon glyphicon-pencil"></span>Send Message</button>
           </div>
   </div><!-- first column end-->
    <div class="col-md-9 centralBlock">
        <hr class="hrCentralBlock" />
        @using (Html.BeginForm("Create", "Messages"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row msgCreateRow">
                <div class="col-md-10 col-md-offset-1">
                    Send Message to <b>@ViewBag.ReceiverName @ViewBag.ReceiverSurname</b>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" id="messages_IdReceiver" name="messages.IdReceiver" class="hidden" value="@ViewBag.ReceiverMail">
                </div>
            </div>

            <div class="row msgCreateRow">
                <div class="col-md-10 col-md-offset-1">
                    @Html.LabelFor(model => model.messages.Title, htmlAttributes: new { @class = "control-label " })
                </div>
                <div class="col-md-10 col-md-offset-1">
                    @Html.EditorFor(model => model.messages.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.messages.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row msgCreateRow">
                <div class="col-md-10 col-md-offset-1">
                    @Html.LabelFor(model => model.messages.Content, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-10 col-md-offset-1">
                    @Html.TextAreaFor(m => m.messages.Content, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.messages.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row msgCreateRow">
                <div class="col-md-2 col-md-offset-9">
                    <input type="submit" value="Send" id="submitBtn" class="btn btn-primary submitSendMessage" />
                </div>
            </div>

        }


    </div><!-- second column end-->
    
    
    
    
    
    
    
</div><!--Row end-->
@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }