@model MVC_WEB_Page.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="row baseMainRow">





    <div class="col-md-3 leftBlock">

        <h3>Change password</h3>
        <hr />

        <div class="btn-group-vertical userUnderImageMenu">
            <button type="button" onclick="location.href = '/Profile'" class="btn btn-default baseBtn homCenterWell"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div><div class="col-md-9">Profile</div></div></button>
            <button type="button" onclick="location.href = '/Profile'" class="btn btn-default baseBtn homCenterWell"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-leaf"></span></div><div class="col-md-9">Interests</div></div></button>
            <button type="button" onclick="location.href = '/Profile'" class="btn btn-default baseBtn homCenterWell"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-ban-circle"></span></div><div class="col-md-9">Declined invitations</div></div></button>
            <button type="button" onclick="location.href = '/ChangePassword'" class="btn btn-default baseBtn homCenterWell"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-lock"></span></div><div class="col-md-9">Change password</div></div></button>
        </div>




    </div><!-- first column end-->
    <div class="col-md-7 centralBlock">
        <hr class="hrCentralBlock" />

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            
                    
            <div class="row formMargin">
               
                <div class="col-md-10 col-md-offset-1">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                </div>
                <div class="col-md-10 col-md-offset-1">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
           </div>
            
             <div class="row formMargin">
                 <div class="col-md-10 col-md-offset-1">
                     @Html.LabelFor(m => m.NewPassword, new { @class = " control-label" })
                 </div>
                 <div class="col-md-10 col-md-offset-1">
                     @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                     @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                 </div>
           </div>
             <div class="row formMargin">
                 <div class="col-md-10 col-md-offset-1">
                     @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                 </div>
                 <div class="col-md-10 col-md-offset-1">
                     @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                     @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                 </div>
           </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" id="divStatus">


                </div>

            </div> 
           <div class="row formMargin">
               <div class="col-md-3 col-md-offset-8">
                   <input type="submit" value="Change password" id="submitBtn"  class="btn btn-primary" />
               </div>      
          </div>
        }









    </div><!-- second column end-->
    

</div><!--Row end-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
