@model IEnumerable<MVC_WEB_Page.Models.ApplicationUser>
           <script>
               function changeInviteName(user, id) {
                   document.getElementById("InviteYes").disabled = false;
                   $("#friendAvailable").text("");
                   $("#friendInviteName").text("Do you want to send friend request to " + user + "?");
                   document.getElementById("InviteYes").onclick = function () {
                       
                      
                       $.post("/InviteValidFriend/inviteFriend", { ID: id },
                       function (data) {
                           if (data == 0) {
                               $("#friendAvailable").text("Invite sucessfull!");
                               document.getElementById("InviteYes").disabled = true;
                              
                           } else {
                               $("#friendAvailable").text("You have already invited friend!");
                               document.getElementById("InviteYes").disabled = true;
                           }

                       });


                   };//<-- on click invite end




               }//<-- main function end

         

           </script>
<div class="row ">
   
        @if(Model.Count()!=0)
        {
            foreach (var item in Model)
            {
                <div class="col-md-3 col userImgHeight">
                    <a href="@Url.Action( "ReturnUser", new { user = item.Id})">
                        <div class="col-md-12 userImg"><img src="~/Content/Images/Profiles/@item.Image" class="img-responsive userImage" /> </div>
                        <div class="col-md-12 text-center"> @item.Name  @item.Surname </div>
                    </a>    
                                   
                    <div class="col-md-12">
                        <a href="#" onclick="changeInviteName('@item.Name @item.Surname', '@item.Id' );" data-toggle="modal" data-target="#inviteDialog"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="@Url.Action("MessageIconClick", "Messages", new { id = item.Id })">
                                <span class="glyphicon glyphicon-envelope"></span>
                        </a>                        
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                User Not Found!
            </div>
        }

</div>
<div class="modal fade" id="inviteDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Friend Invitation</h4>
            </div>
            <div class="modal-body">
                <h3 id="friendInviteName"></h3>
            </div>
            
            <div class="modal-body">
                <h3 id="friendAvailable"></h3>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " id="InviteYes">Yes</button>
                </div>
</div>
    </div>
</div>