@model MVC_WEB_Page.Models.HomeDefaultPageOutput

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@*
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

    <p>Home page template.</p>
*@

<script>

    function friendsNew(button,user,id,img,inviter) {
       
        //<-- create label for right button
        if(button==1) $("#myModalLabel").text("Accept friend request from "+user);
        else if(button==2) $("#myModalLabel").text("Decline friend request from "+user);
        $("#friendAvailable").text("");
        document.getElementById("InviteYes").disabled = false;
        //<-- create image for friend 
        document.getElementById("frienImg").src = "/Content/Images/Profiles/" + img;
        //accept request
        if(button==1){
        document.getElementById("InviteYes").onclick = function () {
            $.post("/InviteValidFriend/acceptFriend", { ID: id },
            function (data) {
                if (data == 0) {
                    $("#friendAvailable").text("Sucess!");

                    $("#profileFA" + inviter).remove();
                    $("#profileFB" + inviter).remove();
                    document.getElementById("InviteYes").disabled = true;

                } else {
                    $("#friendAvailable").text("Failure!");
                    document.getElementById("InviteYes").disabled = true;
                }

            });


        };//<-- on click invite end
        }//<-- accept request end
        if (button == 2) {
            document.getElementById("InviteYes").onclick = function () {
                $.post("/InviteValidFriend/denieFriend", { ID: id },
                function (data) {
                    if (data == 0) {
                        $("#friendAvailable").text("Sucess!");

                        $("#profileFA" + inviter).remove();
                        $("#profileFB" + inviter).remove();
                        document.getElementById("InviteYes").disabled = true;

                    } else {
                        $("#friendAvailable").text("Failure!");
                        document.getElementById("InviteYes").disabled = true;
                    }

                });


            };//<-- on click invite end
        }//<-- accept request end


        //document.getElementById("InviteYes").disabled = true;
        //$("#myModalLabel").text("in development");
        //$("#friendAvailable").text(" n/a        ");
        
        //$("#friendInviteName").text("Do you want to send friend request to " + user + "?");
        




    }//<-- main function end



</script>

<div class="row baseMainRow">
    
    
    
    

    <div class="col-md-3 leftBlock">
        @using Microsoft.AspNet.Identity
        <h3> @Model.LoggedInUser.Name @Model.LoggedInUser.Surname </h3>
        <hr />
  

        
        <img src="~/Content/Images/Profiles/@Model.LoggedInUser.Image" class="img-responsive userImage" />
        
        
        <div class="btn-group-vertical userUnderImageMenu">
            <button type="button" class="btn btn-default baseBtn homCenterWell" data-toggle="collapse" data-target="#collapseUninvitedFiends"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div><div class="col-md-9"> Friendship requests</div></div></button>
            <div class="collapse" id="collapseUninvitedFiends">
                <div class="well row rowWell" id="FrienReqCont">

                    @foreach (var item in Model.NotAcceptedFriends)
                    {
                       
                        <div class="col-md-8 col-md-offset-0"   @Html.Raw("id='profileFA" + item.IdUser+"'")>
                        <a href="@Url.Action( "ReturnUser", new { user = item.IdUser})">  @item.UserCredits</a>
                        </div>
                        <div class="col-md-4 col-md-offset-0" @Html.Raw("id='profileFB" + item.IdUser + "'")>
                        <a href="#" onclick="friendsNew('1', '@item.UserCredits', '@item.Id', '@item.userImg','@item.IdUser');" data-toggle="modal" data-target="#inviteDialog"><span class="glyphicon glyphicon-ok-circle"></span></a>
                        <a href="#" onclick="friendsNew('2', '@item.UserCredits', '@item.Id', '@item.userImg','@item.IdUser');" data-toggle="modal" data-target="#inviteDialog"><span class="glyphicon glyphicon-remove-circle"></span></a>

                             </div>
                    }
                    @if (Model.NotAcceptedFriends.Count == 0){ <span>"Currently you dont have any friendship request"</span> }
                </div>
            </div>
           
            <button type="button" class="btn btn-default baseBtn homCenterWell" data-toggle="collapse" data-target="#collapseAnnouncments"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-info-sign"></span></div><div class="col-md-9"> Info</div></div></button>
            <div class="collapse " id="collapseAnnouncments">
                <div class="well row rowWell">
                    @foreach (var item in Model.annoucments)
                    {

                        <div class="row announcments @Html.Raw("stateAnounc"+item.state) ">
                            <div class="col-md-12  textAlign-Center">@item.Content </div>
                            <div class="col-md-12 textAlign-Center">@item.Date </div>
                        </div>

                    }
                    @if (Model.annoucments.Count == 0)
                    { <span>"Currently you dont have any announcment request"</span> }
                </div>
            </div>


            <button type="button" class="btn btn-default baseBtn homCenterWell" onclick="location.href = '/Profile'"><div class="row"><div class="col-md-1"><span class="glyphicon glyphicon-cog"></span></div><div class="col-md-9">Profile</div></div></button>
        </div>

      
    
        
    </div><!-- first column end-->
    <div class="col-md-7 centralBlock">
    <hr class="hrCentralBlock"/>
        <div class="jumbotron">
            <h1>Some info here!</h1>
            <p>Text text text....</p>
        </div>
        <div class="row">
            <h3>Friends</h3>
            <hr />
            
            @foreach (var item in Model.friendsMyStart)
            {
                <div class="col-md-3 friendsStartThumb">
                    <div class="row">
                        <a href="@Url.Action( "ReturnUser", new { user = item.Id})">
                            <div class="col-md-12 friendshomeStart"><img src="~/Content/Images/Profiles/@item.Image" class="img-responsive userImage" /></div>
                            <div class="col-md-12">@item.Name @item.Surname</div>
                        </a>
                        <div class="col-md-12">
                            <a href="@Url.Action("MessageIconClick", "Messages", new { id = item.Id })">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </div>
                 </div>
                     
                 </div>

            }   @if (Model.friendsMyStart.Count == 0)
            { <span>"Currently you dont have any friends"</span> }

        </div>
        <div class="row">
            <h3>Gallerys</h3>
            <hr />
            <div class="col-md-3">

                sdsdddddssd
            </div>
            <div class="col-md-3">

                sdsdddddssd
            </div>
            <div class="col-md-3">

                sdsdddddssd
            </div>
            <div class="col-md-3">

                sdsdddddssd
            </div>

        </div>

     
    </div><!-- second column end-->
    <div class="col-md-2 rightBlock">
        <hr class="hrCentralBlock" />
        some info here
       <div class="row">
           <hr />
           <div class="col-md-12">

               sdsdddddssd
           </div>


       </div>


    </div><!-- third column end-->
    
</div><!--Row end-->
    
<div class="modal fade" id="inviteDialog" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Friend Invitation</h4>
        </div>
      

        <div class="modal-body row">
            <div id="imgFriend" class="col-md-5">
                <img id="frienImg" class="img-responsive" />
            </div>
            <div class="col-md-7">user info</div>
           
        </div>
        <div class="modal-body">
            <h3 id="friendInviteName"></h3>
            <h3 id="friendAvailable"></h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary " id="InviteYes">Yes</button>
        </div>
    </div>
</div>
</div>