﻿﻿@model MVC_WEB_Page.Models.UserView

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<script>
    function showImage(ID, User) {
        $.ajax({
            url: '@Url.Action("returnImage", "Gallery")',
            type: "post",
            data: {
                id: ID,
                UserName: User
            },
            success: function (data) {
                $("#imageView").show();
                $('#galleryBody').animate({ scrollTop: $("#bigImage").offset().top
                }, 500);
                $("#imageView").html(data);
            }
        });
    }
</script>
<html>
<head>
    <title>@Model.user.Name  @Model.user.Surname</title>
    <link href="/Content/lightbox.css" rel="stylesheet" />
</head>
<body>
    <div class="row baseMainRow">
        <div class="col-md-3 leftBlock">
            <h1 class=" text-center">@Model.user.Name @Model.user.Surname</h1>
            <img src="~/Content/Images/Profiles/@Model.user.Image" class="img-responsive userImage" />
        </div>
        
        <div class="col-md-7 centralBlock" >
            <h3 class="text-center">Gallery</h3>
            <div class="col-md-12" id="galleryBody" style="overflow-y: scroll; height:75vh;">
                <div class=" col-md-12" id="galleryView">
                    @Html.Partial("_ProfileGalleryView", Model)
                </div>
                <div class="col-md-12" id="imageView" hidden="hidden">
                    @Html.Partial("_ProfileGImageView", Model)
                </div>
            </div>
        </div>
        <div class="col-md-2 leftBlock">
            <h3 class="text-info">Info</h3>
            Birth Date: @Model.user.BirthDate.ToShortDateString()<br />
            Email: @Model.user.Email<br />
            @if (Model.user.Gender == 0)
            {
                <p>Gender: Male</p>
            }
            else
            {
                <p>Gender: Female</p>
            }

        </div>
    </div>
</body>
</html>