﻿﻿@model MVC_WEB_Page.Models.UserView

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<html>
<head>
    <title>@Model.user.Name  @Model.user.Surname</title>
    <link href="/Content/lightbox.css" rel="stylesheet" />
</head>
<body>
    <div class="row baseMainRow">
        <div class="col-md-3 leftBlock">
            <h1 class=" text-center">@Model.user.Name @Model.user.Surname</h1>
            <img src="~/Content/Images/Profiles/@Model.user.Image" class="img-responsive userImage" />
        </div>
        <div class="col-md-7 centralBlock">
            <h3 class="text-center">Gallery</h3>
            <div class="row">
                @if (Model.gallery.Count == 0)
                { <h2 class="text-center">User has no images to show in gallery</h2>}
                @foreach (var item in Model.gallery)
                {
                    <div class="col-md-4">
                        <a href="~/Content/Images/@Model.user.UserName/@item.Image" data-lightbox="galery" data-title=@item.Name>
                            <img src="~/Content/Images/@Model.user.UserName/@item.Image" class="img-responsive" />
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2 leftBlock">
            <h3 class="text-info">Info</h3>
            Birth Date: @Model.user.BirthDate.ToShortDateString()<br />
            Email: @Model.user.Email<br />
            @if (Model.user.Gender == 0)
            {
                <p>Gender: Male</p>
            }
            else
            {
                <p>Gender: Female</p>
            }

        </div>
    </div>
</body>
</html>